<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.switchsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name="net.gini.switchsdk.TakePictureActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="net.gini.switchsdk"
            android:theme="@style/GiniTheme" />
        <activity
            android:name="net.gini.switchsdk.ReviewPictureActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="net.gini.switchsdk"
            android:theme="@style/GiniTheme" />
    </application>

</manifest>