<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.tariffsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name=".TakePictureActivity"
            android:taskAffinity="net.gini.tariffsdk"
            android:theme="@style/GiniTheme" />
        <activity
            android:name=".ReviewPictureActivity"
            android:taskAffinity="net.gini.tariffsdk"
            android:theme="@style/GiniTheme" />
        <activity
            android:name=".ExtractionsActivity"
            android:taskAffinity="net.gini.tariffsdk"
            android:theme="@style/GiniTheme" />
        <activity
            android:name=".FinishActivity"
            android:taskAffinity="net.gini.tariffsdk"
            android:theme="@style/GiniTheme" />
    </application>

</manifest>