<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gini.tariffsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".TariffSdkActivity"
            android:taskAffinity="net.gini.tariffsdk" />
        <activity
            android:name=".takepictures.TakePictureActivity"
            android:taskAffinity="net.gini.tariffsdk" />
        <activity android:name=".reviewpicture.ReviewPictureActivity" />
    </application>

</manifest>